body {
    background-color: #f2f2f2;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    margin: 10px 0 30px;
}

.login {
    height: 400px;
    margin-top: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}
button {
    margin-top: 1em;
}

.login__reminder {
    text-align: center;
    margin-top: .5em;
}

.login__reminder a {
}

